language: python

notifications:
  email: false

python:
- '2.7'
- '3.4'
- '3.5'

before_install:
- which python
- python --version

install:
- pip install pytest
- pip install python-coveralls
- pip freeze

script:
- py.test tessts/ -v --cov=progress --cov-report term-missing

after_success:
- coveralls
